# node_modules
node_modules
.next
out
build

# IDEs
.vscode
.idea
*.swp
*.swo

# SECRETS (CRITICAL)
.env
.env.local
.env.production
.env.development

# OS
.DS_Store
Thumbs.db

# Prisma
/prisma/dev.db
/prisma/dev.db-journal
